@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Home_Layout.cshtml";
}
<style>
    body {
        background: #f8f8f8;
    }

    a {
        text-decoration: none;
    }

    h1 {
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 25px;
        line-height: 32px;
        padding-top: 70px;
    }

        h1 a {
            color: #6cc;
        }

    .price-table-wrapper {
        font-family: 'Lato', sans-serif;
        text-align: center;
        margin-top: 30px;
    }

        .price-table-wrapper .featured-table {
            box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
        }

        .price-table-wrapper .pricing-table {

            display: inline-block;
            border: 1px solid #c8c8c8;
            border-radius: 10px;
            background: white;
            margin: 20px;
            padding: 0px 55px;
            transition: all 0.3s ease-in-out;
        }

        .price-table-wrapper .pricing-table__header {
            padding: 20px;
            font-size: 20px;
            color: #fff;
            background: #0d1217;
        }
    ul li {
       color: #0d1217;
    }
        .price-table-wrapper .pricing-table__price {
            color: #0d1217;
            padding: 20px;
            margin: auto;
            font-size: 40px;
            font-weight: 500;
        }

        .price-table-wrapper .pricing-table__button {
            display: block;
            background: #6cc;
            text-decoration: none;
            padding: 20px;
            color: white;
            position: relative;
            overflow: hidden;
            transition: all 0.3s ease-in-out;
        }

            .price-table-wrapper .pricing-table__button:before {
                position: absolute;
                left: -20%;
                top: -10%;
                content: '';
                width: 60%;
                height: 220%;
                transform: rotate(-30deg);
                background: white;
                opacity: 0.3;
                transition: all 0.3s ease-in-out;
            }

            .price-table-wrapper .pricing-table__button:after {
                position: absolute;
                content: '>';
                top: 0;
                right: 0;
                font-size: 25px;
                padding: 15px;
                padding-right: 40px;
                color: white;
                opacity: 0;
                transition: all 0.3s ease-in-out;
            }

            .price-table-wrapper .pricing-table__button:hover {
                background: black;
            }

        .price-table-wrapper .pricing-table__list {
            padding: 20px;
            color: #a0a0a0;
        }

            .price-table-wrapper .pricing-table__list li {
                padding: 15px;
                border-bottom: 1px solid #c8c8c8;
            }

                .price-table-wrapper .pricing-table__list li:last-child {
                    border: none;
                }

        .price-table-wrapper .pricing-table:hover {
            box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
        }

            .price-table-wrapper .pricing-table:hover .pricing-table__button {
                padding-left: 0;
                padding-right: 35px;
            }

                .price-table-wrapper .pricing-table:hover .pricing-table__button:before {
                    top: -80%;
                    transform: rotate(0deg);
                    width: 100%;
                }

                .price-table-wrapper .pricing-table:hover .pricing-table__button:after {
                    opacity: 1;
                    padding-right: 15px;
                }

</style>
<section id="banner">
    <div class="inner">
        <h1>Welcome To Rentflix</h1>
        <p>A fully Automated Rental Management System</p>
        <ul class="actions">
            @if (!User.Identity.IsAuthenticated)
            {
                <li><a href='@Url.Action("Login", "Account")' class="button alt scrolly big">Login</a></li>
                <li><a href='@Url.Action("Register", "Account")' class="button alt scrolly big">Register</a></li>}
            else
            {
                <li><a href='@Url.Action("Index", "Movie")' class="button alt scrolly big">Browse Movies</a></li>

            }
        </ul>
    </div>
</section>
<section>
    <div class="price-table-wrapper">
        <div class="pricing-table">
            <h2 class="pricing-table__header">- Pay As You Go -</h2>
            <h3 class="pricing-table__price">Free</h3>
            
            <ul class="pricing-table__list">
                <li>30 day free trial</li>
                <li>50gb storage space</li>
                <li>20% discount</li>
                <li>24 hour support</li>
            </ul>
        </div>
        <div class="pricing-table">
            <h2 class="pricing-table__header">- Monthly -</h2>
            <h3 class="pricing-table__price">$15</h3>
            <ul class="pricing-table__list">
                <li>30 day free trial</li>
                <li>50gb storage space</li>
                <li>20% discount</li>
                <li>24 hour support</li>
            </ul>
        </div>
        <div class="pricing-table featured-table">
            <h2 class="pricing-table__header">- Quaterly -</h2>
            <h3 class="pricing-table__price">£80</h3>
            <ul class="pricing-table__list">
                <li>40 day free trial</li>
                <li>100gb storage space</li>
                <li>25% discount</li>
                <li>24 hour support</li>
            </ul>
        </div>
        <div class="pricing-table">
            <h2 class="pricing-table__header">- Yearly -</h2>
            <h3 class="pricing-table__price">£130</h3>
            <ul class="pricing-table__list">
                <li>50 day free trial</li>
                <li>200gb storage space</li>
                <li>40% discount</li>
                <li>24 hour support</li>
            </ul>
        </div>
    </div>
</section>
<section id="contact">
 
    <div class="social column">
        <h3>About Rentflix</h3>
        <p>The “Rentflix” has been develop to override the problems prevailing in the practicing manual system. This software is supposed to eliminate in some cases reduce the hardships faced by this existing system. Moreover, this system is designed for the particular need of the user to carry out operations in a smooth and effective manner.</p>
        <p>The application is reduced as much as possible to avoid errors while entering the data. It also provide message while entering invalid date. No formal knowledge is needed for the user to use this system. Thus by this all provide it is user friendly. Rentflix, as described above, can lead to error free, secure, reliable and fast management system. It can assist the user to concentrate on their other activities rather to concentrate on the record keeping. Thus, it will help organization in better utilization of resources.</p>
        <p>Every organization, whether big or small, has challenges to overcome and managing the information of customers, movie, payment, shows, and seats. Every movie rental has different movie needs, therefore we design exclusive employees management systems that are adapted to your managerial requirements. This designed to assist in strategic planning, and will help you to ensure that your organization is equipped with the right level of information and details for your future goals. Also, for those busy executive who are always on the go, our system come with remote access features, which will allow you to manage your workforce anytime, at all times. These systems will ultimately allow you to better m anage resources.</p>
        <h3>Follow Rentflix</h3>
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        </ul>
    </div>
    </section>
